.banner__section {
    @include flex($jcontent: center, $alitems: center);
    width: 100%;
    margin-bottom: 40px;

    @include tablet {
        width: 100%;
    }

    @include phone {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .banner__container {
        width: 1240px;
        height: 223px;
        border-radius: 20px;
        position: relative;
        
        @include tablet {
            width: 100%;
            height: 223px;
            margin-right: 20px;
            margin-left: 20px;
        }
    
        @include phone {
            width: 100%;
            height: auto;
            margin-right: 20px;
            margin-left: 20px;
        }

        .banner__image {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
            filter: brightness(70%);
        
            @include phone {
                width: 100%;
                height: 110px;
            }
        }
        
        .banner__title {
            width: 60%;
            margin: 0;
            position: absolute;
            top: 40%;
            left: 20%;
            color: $secondary-color;
            font-size: $font-S48;
            font-weight: $font-medium;

            @include tablet {
                font-size: $font-S36;
                top: 35%;
                left: 20%;
                text-align: center;
            }
        
            @include phone {
                font-size: $font-S24;
                padding-left: 10px;
                top: 22%;
                left: 2%;
            }
        }
    }   
}