.carousel {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    position: relative;

    @include phone {
        width: 335px;
        height: 225px;
        margin: 0 15px 0 15px;
    }

    .carousel__pictures {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        z-index: 0;
    }

    .arrowLeft {
        position: absolute;
        top: 40%;
        left: 20px;
        z-index: 1;
        cursor: pointer;

        @include phone {
            width: 19px;
            height: 26px;
            top: 43%;
            left: 4%;
        }
    }

    .arrowRight {
        position: absolute;
        top: 40%;
        right: 20px;
        z-index: 1;
        cursor: pointer;

        @include phone {
            width: 19px;
            height: 26px;
            top: 43%;
            right: 4%;
        }
    }

    .slideNumber {
        position: absolute;
        bottom: 5px;
        left: 50%;
        color: $secondary-color;
        font-size: $font-S18;
        font-weight: $font-medium;

        @include phone {
            display: none;
        }
    }
}