.rating {
    @include flex($fdirection: row, $jcontent: flex-end, $alitems: center);
    gap: 15px;
    width: 196px;
    height: 36px;

    .star {
        font-size: $font-S24;
    }
    
    .filled {
        color: $primary-color;
    }

    .empty {
        color: $quaternary-color;
    }
    
}