.rating {
    @include flex($fdirection: row, $jcontent: flex-end, $alitems: center);
    gap: 15px;
    width: 196px;
    height: 36px;

    @include phone {
        width: 120px;
        height: 18px;
        gap: 5px;
    }

    .star {
        font-size: $font-S24;

        @include phone {
            font-size: $font-S18;
        }
    }
    
    .filled {
        color: $primary-color;
    }

    .empty {
        color: $quaternary-color;
    }
    
}