.footer {
    height: 209px;
    background-color: $bg-footer-color;
    @include flex ($fdirection: column, $jcontent: center, $alitems: center);

    .footer__text {
        color: $secondary-color;
        margin-top: 20px;
        font-family: $main-font;
        font-size: $font-S24;
        font-weight: $font-medium;
    }
}