.header {
    margin: 40px 100px 40px 100px;
    width: 1240px;
    @include flex($fdirection: row, $jcontent: space-between, $alitems: center);

    .header__logo {
        width: 210px;
        height: 68px;
    }

    .header__links {
        width: 309px;
        height: 39px;
        @include flex($fdirection: row, $jcontent: flex-end, $alitems: center);

        li {
            padding-left: 55px;
            font-family: $main-font;
            font-size: $font-S24;
            font-weight: $font-medium;
        }

        .nav-link {
            color: $primary-color;

            &.active{
                color: $primary-color;
                text-decoration: underline;
            }
        }
    }
}