* {
    box-sizing: border-box;
}

body, html {
    margin: 0 auto;
    min-width: 375px;
    max-width: 1440px;
    font-family: $main-font;
}

main {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}