// **** FLEXBOX **** //
@mixin flex($fdirection: initial, $jcontent: initial, $alitems: initial) {
    display: flex;
    flex-direction: $fdirection;
    justify-content: $jcontent;
    align-items: $alitems;
}

// **** MEDIA QUERIES **** //
@mixin tablet {
    @media screen and (max-width:$tablet) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width:$phone) {
        @content;
    }     
  }