.accomodation__description {
    @include flex($fdirection: column);
    width: 1240px;
    margin: 0 100px 0 100px;
    gap: 10px;

    .title_host {
        @include flex($fdirection: row, $jcontent: space-between);

        .title {
            h2 {
                color: $primary-color;
                margin: 0;
            }
        
            .location {
                color: $primary-color;
                margin: 0;
                padding-top: 10px;
            } 
        }
    }

    .tags_rating {
        @include flex($fdirection: row, $jcontent: space-between);
        margin-bottom: 10px;
    }

    .description {
        @include flex($fdirection: row, $jcontent: center, $alitems: flex-start);
        width: 1240px;
        gap: 60px;
        margin: 0;

        .description__collapse {
            width: 50%;

            .collapse__header {
                width: 100%;
            }

            .collapse__content {
                width: 100%;

                ul {
                    margin: 0;
                    padding: 0;
                    gap: 10px;
                    font-size: $font-S18;
                    font-weight: $font-regular;
                }
            }
        }
    }
}