.accomodation__description {
    @include flex($fdirection: column);
    max-width: 1240px;
    margin: 0 100px 0 100px;
    gap: 10px;

    @include tablet {
        width: 100%;
        margin: 0;
        padding: 20px;
        gap: 0;
    }

    @include phone {
        margin: 0;
        padding: 15px;
        gap: 10px;
    }

    .information {
        @include flex($fdirection: row, $jcontent: space-between);

        @include tablet {
            @include flex($fdirection: column);
        }

        @include phone {
            @include flex($fdirection: column);
        }

        .title_tags {
            @include flex($fdirection: column);
            gap: 20px;

            .title {
                h2 {
                    color: $primary-color;
                    margin: 0;

                    @include phone {
                        font-size: $font-S18;
                    }
                }
            
                .location {
                    color: $primary-color;
                    margin: 0;
                    padding-top: 5px;

                    @include phone {
                        font-size: $font-S14;
                    }
                } 
            }
        }

        .host_rating {
            @include flex($fdirection: column, $alitems: flex-end);
            margin-bottom: 10px;

            @include tablet {
                @include flex($fdirection: row-reverse, $jcontent: space-between, $alitems: center);
            }
          
            @include phone {
                @include flex($fdirection: row-reverse, $jcontent: space-between, $alitems: center);
                margin-bottom: 0;
                margin-top: 15px;
            }
        }
    }

    .description {
        @include flex($fdirection: row, $jcontent: center, $alitems: flex-start);
        width: 100%;
        gap: 60px;
        margin: 0;

        @include tablet {
            @include flex($fdirection: column);
            width: 100%;
            gap: 30px;
        }

        @include phone {
            @include flex($fdirection: column);
            width: 100%;
            gap: 20px;
            margin-top: 20px;
        }

        .description__collapse {
            width: 50%;

            @include tablet {
                width: 100%;
            }

            @include phone {
                width: 100%;
            }

            .collapse__header {
                width: 100%;
            }

            .collapse__content {
                width: 100%;

                ul {
                    margin: 0;
                    padding: 0;
                    gap: 10px;
                    font-size: $font-S18;
                    font-weight: $font-regular;
                }
            }
        }
    }
}